.res{
    margin: 30px auto;
    padding: 10px;
    width: 70%;
    box-shadow: 2px 2px 20px #ddd;
    border-radius: 5px;
    transition: all 0.3s;
}

.res:hover{
    box-shadow: 2px 2px 20px #aaa;

}

.id{
    text-align: right;
    font-size: 12px;
    color:#ff5050;
    font-weight: 600;

}

.que{
    /* font-weight: 500; */
    text-align: justify;
    font-size: 15px;
    color:black; 
}
.ans{
    text-align: justify;
    font-size: 15px;
    color:blue; 
}

.people{
color:#ff3030;
float: right;
margin-right: 10%;
}

/* <h4 style={{textAlign:'center',fontSize:'25px'}}>It's not working between us T_T</h4>
    <h6 style={{textAlign:'center',fontSize:'15px',color:'#aaa'}}>Data not present yet... </h6>
    <h6 style={{width:'95%',textAlign:'right',fontSize:'12px',color:'#ff5050',marginBottom:'10px'}}>It's not you, it's me :(</h6> */


    .res h4{
        text-align: center;
        font-size: 22px;
        font-weight: 600;
    }

    .res h6{
        text-align: center;
        font-size: 15px;
    }



@media screen and (max-width:710px){

    .res{
        margin:10px auto;
       width:90% ;
       padding:5px;
    }
    
    
    .id{
    font-size: 8px;
    
    }
    
    .que{
    font-size: 12px;
       
    }
    .ans{
    font-size: 12px;
        
    }

    /* .res.h6{
        font-size: 12px;

    }

    .res.h4{
        font-size: 12px;
    } */


}