.divoinput{

    width: 70%;
    margin:20px auto;
    margin-top:80px;
    padding:5px;
    text-align: center;
    /* background-color: aqua; */
}
.inp{
width:80%;
padding:10px;
border:none;
box-shadow: 2px 2px 20px #aaa;
border-left:2px solid transparent;
border-top:2px solid transparent;
border-bottom:2px solid transparent;
border-top-left-radius: 10px ;
border-bottom-left-radius: 10px ;
transition: all 0.3s ease;
}

.inp:focus{
    outline:none ;
    border-left:2px solid #ff5050;
    border-top:2px solid #ff5050;
    border-bottom:2px solid #ff5050;

}


.btn{
    width:8%;
border:none;
padding:10px;
text-align: center;
font-size:13px;
outline:none;
background-color: #ff5050;
box-shadow: 2px 2px 20px #aaa;
color:#000;
border:2px solid #ff5050;
border-top-right-radius: 10px ;
border-bottom-right-radius: 10px ;
transition: all 0.3s ease;
}
.btn:hover{
    outline:none;
border:2px solid #ff2020;
    background-color: #ff2020;
}
